.home_page{
     background-color: #435057;
}
.header_areyaa{
    margin-top: 20px;
}


.manu_cescin ul li {
    display: inline;
}
.manu_cescin ul li a{
    text-decoration: none;
    display: inline;
    padding: 6px 45px;
    color: rgb(255, 245, 245);
}
.Apply_manu button{
    margin-left: 67%;
    border: solid 4px #6BC8B8;
    padding: 5px;
}
.body_cestion{
    margin-top: 20px;
}
.body_middle_creation{
    text-align: center;
    margin-top: 76px;
    font-size: 21px;
    color: aliceblue;
}
.body_middle_creation h5{
    margin-top: 15px;
}
.body_middle_creation button{
    background-color: #71DEB5;
}